@import url("https://use.typekit.net/owz6ids.css");

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: italic;
}

body {
    padding: 2.5%;
    font-family: 'neue-haas-grotesk-display', 'Neue Haas Grotesk Display Pro', 'Helvetica Neue', 'Segoe UI', 'Avenir', sans-serif; /* Material You font */
    background-color: #f8f9fa; /* Light, neutral background */
    color:  #333333; /* Dark primary text color */
}

h1 {
    color: #333333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.nav {
    margin: 50px auto 20px auto;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

.nav a {
    text-decoration: none;
    font-weight: 900;
    margin: 0 10px 0 10px;
    position: relative;
}

.nav li {
    color: #333333;
    margin: 0 10px 0 10px;
    position: relative;
}

.nav a:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
    content: '';
    -webkit-transform: translateY(8px);
    opacity: 0;
    transition-property: -webkit-transform, opacity;
    transition-duration: .3s;
}

.nav a:hover:before {
    -webkit-transform: translateY(0);
    opacity: 1;
}

header {
    text-align: center;
    background-color: #ffd500; /* Consider a primary color */
    color: #000000; /* High contrast against primary color */
    padding: 2%;
    border-radius: 12px; /* More generous border-radius */
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); /* Subtle elevation */
}

/* Grid Styles */
.grid-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Box Styles */
.box {
    display: inline-block;
    flex-grow: 1;
    width: calc(100% * (1/4) - 10px - 1px);
    background-color: var(--white);
    border-radius: 1rem;
}

.box span{
    color: white;
    background-color: white;
    padding: .5rem;
    border-radius: .5rem;
}

th, td {
    padding: 2.5%;
}

table { border-collapse: collapse; }
tr:nth-child(1) { border-bottom: solid #333333 thin; }
tr:nth-child(1) td:nth-child(2) {
    border-right: 1px solid transparent; /* Transparent border */
}

.hideextra { white-space: nowrap; overflow: hidden; text-overflow:ellipsis; }

/* Button */
.button {
    font-family: 'neue-haas-grotesk-display', 'Neue Haas Grotesk Display Pro', 'Helvetica Neue', 'Segoe UI', 'Avenir', sans-serif; /* Material You font */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #f8f9fa;
    color: black;
    border: 2px solid #333333;
    border-radius: 100px;
}

.button1:hover {
    background-color: #333333;
    color: white;
    border-radius: 100px;
}

.container {
    height: 150px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* LINK ANIMATION */
a {
    color: #333333;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-weight: 900;
    position: relative;
}

a:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
    content: '';
    -webkit-transform: translateY(8px);
    opacity: 0;
    transition-property: -webkit-transform, opacity;
    transition-duration: .3s;
}

a:hover:before {
    -webkit-transform: translateY(0);
    opacity: 1;
}

footer {
    border-top: 2px solid #eee;
}

.alert{
    list-style:none;
    background-color: #ff6200; /* Elevated surface color */
    margin: 0 auto; /* Centers the navigation bar*/
    width: 95%;
    text-align: center;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    flex-grow: 1;
    display: inline-block;
    padding: 30px;
    border-radius: 1rem;
    margin-bottom: 1rem;
    color: white;
}

hr {
    border: 2px solid #eee;
}