@font-face {
    font-family: AusPostBold;
    src: url(APTypeProText-Bold.woff2);
}

@font-face {
    font-family: AusPost;
    src: url(APTypeProText-Regular.woff2);
}

h5 {
    font-family: AusPostBold;
    font-size: 60px;
    margin: 10px;
}
h6 {
    font-family: AusPost;
    font-size: 40px;
    margin: 7.5px;
}