@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    padding: 5%;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
    /*font-family: 'Plus Jakarta Sans', sans-serif; */
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:20px;
}

header {
    text-align: center;
    background-color: black;
    color: #ffd500;
    padding: 1%;
    padding-left: 2%;
    border-radius: 20px;
}

/* Link Animation: https://css-tricks.com/css-link-hover-effects/ */
a {
    color: #ffffff;
    text-decoration: none;
    line-height: 30px;
    padding-bottom: 3.5px;

}
a {
    background:
      linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(255, 255, 255)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
a:hover {
    background-size: 0 3px, 100% 3px;
  }

.line {
             
    /* Increase this as per requirement */
    padding-bottom: 15px;
}
  
.normal-underline {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

iframe {
	aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
    border-radius: 2.5;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}

body, html {width: 100%; height: 100%; margin: 0; padding: 0}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  flex-grow: 1;
}

