@font-face {
    font-family: "NetworkBold";
    src: url("Network Sans Bold.woff2");
}

@font-face {
    font-family: "NetworkSans";
    src: url("Network Sans Regular.woff2");
}

h4 {
    font-family: "NetworkBold";
    font-size: 60px;
    margin: 10px;
}
h6 {
    font-family: "NetworkSans";
    font-size: 40px;
    margin: 7.5px;
}