@font-face {
    font-family: ABCbold;
    src: url(abcsansnova-bold.woff2);
}

@font-face {
    font-family: ABC;
    src: url(abcsansnova-regular.woff2);
}

h4 {
    font-family: ABCbold, sans-serif;
    font-size: 60px;
    margin: 10px;
}
h6 {
    font-family: ABC, sans-serif;
    font-size: 40px;
    margin: 7.5px;
}